#!/usr/bin/make -f
export DH_OPTIONS

export GO111MODULE=on
export GOFLAGS=-mod=vendor

%:
	dh $@ --with=golang

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_installdocs:
	debian/gennotice.sh >debian/tmp/NOTICE
	dh_installdocs debian/tmp/NOTICE

override_dh_installsystemd:
	dh_installsystemd s3tftpd.socket
	dh_installsystemd s3tftpd.service --no-enable --no-start
