#!/usr/bin/make -f
export DH_OPTIONS

export GOFLAGS=-mod=vendor
export GOCACHE=/tmp/go-build
export GO111MODULE=on

%:
	dh $@ --with=golang

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_installsystemd:
	dh_installsystemd s3tftpd.socket
	dh_installsystemd s3tftpd.service --no-enable --no-start
